@using Med322.ViewModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model VMTCurrentDoctorSpecialization

<form id="AddSpecialization" data-doctorid="@ViewBag.Doctor" method="post" asp-controller="Doctor" asp-action="AddSpecialization">
    <input type="hidden" id="Id" name="DoctorId" value="@ViewBag.Doctor"></input>
    <input type="hidden" name="CreatedBy" value="@ViewBag.Doctor"></input>
    <div class="card">
        <div class="card-header h3">Pilih Spesialisasi</div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Spesialisasi*</label>
                @*<input class="form-control" type="text" name="CategoryId"></input>*@
                <select class="form-control" name="SpecializationId">
                    <option value="">--Select Category--</option>
                    @foreach (VMMSpecialization specialization in ViewBag.Specialization)
                    {
                        <option value="@specialization.Id">@specialization.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success float-end"><i class="ti-save"></i> Save</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#AddSpecialization").validate({
        rules: {
            Str: {
                required: true
            }
        }//,
        //submitHandler: function (form) {
        //        if (confirm("done edit?"))
        //        var doctorId = $(this).data("doctorid")
        //            $.ajax({
        //            url: "/Doctor/specialization",
        //                type: "post",
        //                data: $(form).serialize,
        //                dataType: "json",
        //                beforeSend: function() {},
        //                success: function(apiResponse) {
        //                    debugger;
        //                    if (apiResponse.success) {
        //                    location.load();
        //                    }
        //                    else{
        //                        alert(apiResponse.message);
        //                    }
        //                },
        //                error: function (errResponse){
        //                    alert("Edit failed");
        //                    $("#myModal").modal("hide");
        //                }
        //            })
        //        else
        //            return false;
        //    }
    });

    $("#AddSpecialization").submit(function (event) {
        if ($("#AddSpecialization").valid()) {
            var formData = new FormData($(this)[0]);

            event.preventDefault();
            debugger
            $.ajax({
                url: "../AddSpecialization",
                type: "post",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                beforeSend: function () {

                },
                success: function (apiResponse) {
                    debugger;
                    if (apiResponse.success) {
                        $("#myModal").modal("hide");
                        $("#myModalBody").load("../confirmation?message=menambah")
                        $("#myModal").modal("show");
                    }
                    else {
                        alert(apiResponse.message)
                    }
                },
                error: function (errResponse) {
                    debugger;
                    alert("page error");
                    $("myModal").modal("hide");
                }
            });
        }
    });
</script>